body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    min-width: 400px;
}

input{
    background-color: rgb(47, 47, 47);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: white;
    border: 3px solid;
    border-color: #5f9341;
    border-radius: 5px;
    padding: 10px;
    /* padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
}
input:after{
    border: 3px solid #5f9341;
    border-color: #5f9341;
    border-radius: 5px;
    /* border: none; */
}

.buttons{
    display: flex;
    
}
#input-btn{
    width: 150px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #5f9341;
    border: 2px solid #5f9341;
    border-radius: 3px;
    margin-right: 10px ;
    &:active{
        transform: scale(97%);
            /* transform: scale(99%); */
    }
}
/* button:active{
    transform: scale(97%);
    
} */

#delete-btn{
    width: 150px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    color: #5f9341;
    background-color: rgb(40, 40, 40);
    border: 2px solid #5f9341;
    border-radius: 3px;
    margin-right: 10px ;
    &:active
    {
        transform: scale(97%);
    }
}

#box{
    margin-top: 20px;
    background-color: lightgreen;
    width: 200px;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.list{
    color: whitesmoke;
}
/* 
#buy{
    width: 130px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #5f9341;
    border: 2px solid #5f9341;
    border-radius: 3px;
} */

p{
    color: whitesmoke;
}

ul{
    list-style: none;
    padding: 0;
}
/* li{

} */
li a{
    color: #5f9341;
}